<header class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
  <h1 class="text-white text-4xl">Pinboard</h1>
</header>

<div class="container mx-auto mt-28" style="height: 700px">
  <pinboard #dragZone>
    <pin
      *ngFor="let pin of pins"
      dragable
      [rotate]="pin.rotate"
      [tooltip]="pin.tooltip"
      [dragZone]="pinboard"
      [image]="pin.image"
      (dragStart)="pinGrabbed()"
      (dragEnd)="pinReleased()"
    >
    </pin>
  </pinboard>
  <span class="info-message">
    {{ grabbed ? 'Dragging' : 'Drag a pin to update its position' }}
  </span>
</div>
